body{
    background-color: black;
}
.inner_body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    height: 25em;
}
.bt{
    background-color: red;
    border-radius: 0;
    border: none;
    width: 10em;
    height: 2em;
    margin-top: 1em;
}
input{
    border: none;
    outline: none;
    margin: 1em;
}