/* header, footer {
    position: absolute;
    width: 100%;
} */

*{
    margin: 0;
    padding: 0;
}

header {
    
    height: 80px;
    box-shadow: 0 2px 4px rgb(0 21 41 / 8%);
    background-color: #282A35;
}

header h1 {
    position: absolute;
    margin-top: 25px;
    left: 10%;
    font-size: 22px;
    color: white;
}

footer {
    text-align: center;
    background: #282A35;
    color: #fff;
    padding: 20px;
}
/* 
footer h1 {
    position: absolute;
    left: 45%;
    top: 40px;
    font-size: 20px;
    color: white;
} */

.nav {
    position: absolute;
    width: 100%;
}

.nav a {
    position: relative;
    left: 25%;
    top: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a :hover {
    color: #132e4f;
}

.btn1 {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1121px;
    top: 10px;
}
.btn2{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1276px;
    top: 10px;
    }

.sec1 h1 {
    position: absolute;
    width: 907px;
    height: 70px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #000000;

}

/* jishee */
/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 30px;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

