header, footer {
    position: absolute;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

header {
    height: 80px;
    box-shadow: 0 2px 4px rgb(0 21 41 / 8%);
    background-color: #282A35;
}

header h1 {
    position: absolute;
    margin-top: 25px;
    left: 10%;
    font-size: 22px;
    color: white;
}

footer {
    height: 100px;
    bottom: 0; 
    background-color: #132e4f;
}

footer h1 {
    position: absolute;
    left: 45%;
    top: 40px;
    font-size: 20px;
    color: white;
}

.nav {
    position: absolute;
    width: 100%;
}

.nav a {
    position: relative;
    left: 25%;
    top: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

a :hover {
    color: #132e4f;
}

.btn {
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    left: 80%;
    top: 20px;
}