.container{
    display: flex;
    justify-content: space-between;
}
.rank{
    width: 245px;
    border: 1px gray solid;
    font-size: 10px;
    margin: 10px;
    padding: 5px;
}
.news{
    width: 40em;
    margin: 10px;
}
.a-new{
    width: 40em;
    text-align: center;
    margin-bottom: 15px;
}
.thumbnail{
    width: 30em;
    height: 17em;
}
.dropdown1{
    background-color: #03fc96;
    height: 40px;
    width: 100px;
    font-size: 15px;
    margin-left: 20px;
    text-align: center;
}
.dropdown-content1{
    position: absolute;
    display: none;
    margin-top: 15px;
    width: 100px;
    z-index: 999;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 15px;
    margin-left: 20px;
    margin-top: 40px;
}
li{
    list-style-type: none;
}
.upcome{
    background-color: white;
    height: 3em;
    margin-left: 1em;
    text-align: center;
}
.upcoming_back{
    height: 4em;
    align-items: center;
}
.Upcoming{
    margin: 10px;
    border: 1px gray solid;
    width: 245px;
}
table{
    display: none;
}